/* Global css start here */
*{
    margin: 0px;
    padding: 0px;
}
/* font-family: 'Roboto', sans-serif; */
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #F3F1FF;
}
a, a:hover{
    text-decoration: none;
}
ul li{
    list-style: none;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.horizontal-line{
    border: 1px solid #D1D1D1;
}
.hedingdeco{
    padding: 40px 0px 30px;
}
/* Global css end here */

/* header section code start here */
.header-section{
    width: 100%;
    background-color: #562EFF;
    display: flex;
    justify-content: center;
    padding: 26px 0px;
}
.header-section .nav-section{
    width: 1170px;
    display: flex;
    justify-content: space-between;
}
.nav-section .logo-section{
    display: flex;
    align-items: center;
}
.nav-section .logo-section img{
    width: 43px;
    height: 51px;
}
.nav-section .logo-section span{
    width: 54px;
    margin-left: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}
.nav-section .menu-section{
    display: flex;
    align-items: center;
}
.nav-section .menu-section .menu-items{
    margin-left: 36px;
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    color: #fff;
    display: inline-block;
}
/* header section code end here */

 /* Second section css code start here  */
.second-section{
    width: 1170px;
    background-color: #fff;
    margin-top: 35px;
    padding: 33px 28px 10px;
    border-radius: 5px;
    margin: 36px 0px 20px;
}
.second-section h2{
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 3px;
}
.top-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 40px 0px;
}
.top-section .players{
    display: flex;
    align-items: center;
}
.top-section .players img{
    width: 56px;
    height: 56px;
    margin-right: 16px;
}
.top-section .players h3{
    font-size: 18px;
    font-weight: 500;
}
/* blog-section */
.blog-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
}
.blog-inner-container{
    display: flex;
    margin-bottom: 26px;
}
.blog-inner-container img{
    width: 224px;
    height: 127px;
}
.blog-info{
    margin: 0px 0px 6px 16px;
}
.blog-info h4{
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    width: 65%;
}
.blog-info a {
    color: #9F9F9F;
    font-weight: 300;
    margin-top: 6px;
}
.blog-info a span{
    font-size: 16px;
    line-height: 24px;
    color: #562EFF;
    margin-left: 5px;
}
 /* Second section css code end here  */
 /* lates-section code start here */
 .lates-section{
    width: 1170px;
    background-color: #fff;
    margin-top: 35px;
    padding: 33px 28px 40px;
    border-radius: 5px;
    margin: 0px 0px 20px;
 }
.lates-section .lates-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-column-gap: 24px;
}
.lates-container .inner-container{
    box-shadow: 3px 4px 10px;
    padding: 20px;
    border-radius: 10px;
    
}
.lates-container .inner-container img{
    width: 224px;
    height: 104px;
}
.lates-container .inner-container h2{
    color: #1E1E1E;
    font-size: 20px;
    line-height:23px;
    width: 86%;
    margin: 14px 0px;
}
.lates-container .inner-container .fa-star{
    font-size: 20px;
    color: #FFC014;
}
.lates-container .inner-container .fa-star.half{
    font-size: 20px;
    color: #AEAEAE;
    margin-right: 10px;
}
.lates-section > h2{
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 3px;
    margin-bottom: 30px;
}
.inner-container > h4 {
    color: #ED6B4F;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px;
}
.time{
    color: #A2A2A2;
    margin-right: 10px;
}
.duration{
    background: #FFE4E8;
    opacity: .7;
    padding: 6px 12px;
    border-radius: 30px;
    font-size: 14px;
    color: red;
}
.duration .fa-clock-o {
    font-size: 18px;
    font-weight: 500;
    color: red;
}

 /* lates-section code end here */
